# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.dist/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
/Cargo.lock
/target/
packages/rust_net/pubspec.lock
packages/rust_net_core/pubspec.lock
**/doc/api/
.dart_tool/
.fvm/
.flutter-plugins
.flutter-plugins-dependencies
**/pubspec_overrides.yaml
build/
**/native/rust_net_native/target/
**/native/rust_net_native/Cargo.lock
native/target/
native/Cargo.lock
packages/nexa_http_native_*/native/*/target/
packages/nexa_http_native_*/native/*/Cargo.lock
**/android/.cxx/
packages/rust_net_native_android/android/src/main/jniLibs/*/librust_net_native.so
packages/rust_net_native_ios/ios/Frameworks/*.dylib
packages/rust_net_native_linux/linux/Libraries/*.so
packages/rust_net_native_macos/macos/Libraries/*.dylib
packages/rust_net_native_windows/windows/Libraries/*.dll
packages/nexa_http_native_android/android/src/main/jniLibs/*/*.so
packages/nexa_http_native_ios/ios/Frameworks/*.dylib
packages/nexa_http_native_linux/linux/Libraries/*.so
packages/nexa_http_native_macos/macos/Libraries/*.dylib
packages/nexa_http_native_windows/windows/Libraries/*.dll
packages/nexa_http_native_ios/ios/Flutter/Generated.xcconfig
packages/nexa_http_native_ios/ios/Flutter/flutter_export_environment.sh
packages/nexa_http_native_macos/macos/Flutter/ephemeral/
packages/rust_net/android/
packages/rust_net/ios/
packages/rust_net/macos/
packages/rust_net/windows/
# FVM Version Cache
.fvm/
.worktrees/
